.main input {
    border: 1px solid gray !important;
    width: 1.1em;
    height: 1.1rem;
  }
  .main input:focus {
    box-shadow: unset;
  }
.main input:checked {
    background-color: var(--primary-color) ;
  }